* {
  margin: 0;
}

body {
  font-family: "Mate", serif;
  background-color: #085a78;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid rgba(23, 110, 130, 0.277);
  padding: 10px;
}
a {
  color: hsl(256, 88%, 25%);
}
.temperature {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: -10px;
  margin-top: 0px;
  text-align: center;
}

.klima-app {
  background-color: #72a8ce;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
}

.weather {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(23, 110, 130, 0.277);
  margin-top: 10px;
}
.weather-app-details {
  font-size: 16px;
  margin: 10px auto;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.search-input {
  background-color: #dbf1ff;
  border: none;
  border-radius: 6px;
  width: 60%;
  font-size: 16px;
  padding: 15px 20px;
  margin-left: 16px;
}

.search-button {
  background-color: #dbf1ff;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #085a78;
}
.weather-icon {
  width: 170px;
  margin-top: 5px;
}
.temperature {
  font-size: 80px;
  font-weight: 500;
}
.city {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin-top: -10px;
}
.temperature-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 15px;
}

.col img {
  width: 50px;
  margin-right: 10px;
}

.humidity,
.wind-speed {
  font-size: 28px;
  margin-top: -6px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
}

.weather-forecast-temperatures-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
